@media (max-width: 420px) {


.site-header {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #f7f8f8;

}
	.outerclass {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		margin: 0 auto;
		background-color: #ddd;
	}
		#searchbar {
			width: 100%;
			height: auto;
			display: flex; 
			flex-wrap: wrap;
			justify-content: space-between;
			}
			#searchspace {
				display: flex; 
				flex-direction: column;
				justify-content: center;
				margin: 0.1em 0.1em;
			}


			#carticons {
				width: 18%;
				display: flex;
				justify-content: space-between;
			}
				#carticons div {
					align-self: center;
					margin: 0.6em 0.3em;
				}


.rowend {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
}
.rowcenterdiv {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
}
#headerheight {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.column-between {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid yellow;
}

	
.space-around {
	width: 14%;
	margin: 0.8em 0.4em auto;
	height: auto;
	display: flex;
	justify-content: space-between;
}

	.site-title {
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;

	}
	.site-title a {
		text-decoration: none;
		color: #000;
		width: 100%;
		font-weight: bold;
		font-size: 1em;
		text-align: center;
		font-style: uppercase;	
	}
	
.site-description {
	width: 100%;
	height: auto;
	justify-content: center;
	display: flex;
	font-size: 0.7em;
}
#nav-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

 	.centerself {
 		width: 50%;
 		height: auto;
 		margin: 0 auto;
 		display: flex;
 		justify-content: center;
 	}


#banner {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#img-box {
	width: 50%;
	height: 165px;
	display: flex;
	justify-content: center;
}

// * Media query for _page.scss

// .main-navigation {
// 	clear: both;
// 	display: block;
// 	float: left;
// 	width: 100%;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: 1em;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;
// 			}

// 			li {
// 				&:hover > ul,
// 				&.focus > ul {
// 					left: 100%;
// 				}
// 			}

// 			a {
// 				width: 200px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}


// @button styles for dropdown menu


}