#masthead .site-header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

// spliting the header into 3 section layout
#header-3section {
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 270px;
	margin: 0 auto;
	}
	// section 1
	#section1 {
		display: flex;
		justify-content: center;
		width: 33.33%;
		height: auto;
		}
	// section 2
	.site-branding {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 33.33%;
		}

		.site-title {
			display: flex;
			justify-content: center;
			}

			.site-description {
				align-self: center;
				}
				.site-titel a {
					text-decoration: none;
				}

	// section #
		#section3 {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 33.33%;
			height: auto;
			}
			
			.social-medias {
				display: flex;
				justify-content: space-between;
				list-style: none;
				width: 65%;
				padding-top: 3%;
				margin: 0 auto;
				box-sizing: initial;
				}
				.social-medias li {
					width: 100%;
					height: auto;
					align-text: center;
					display: flex;
					justify-content: center;
				}

				.social-medias a {
					text-decoration: none;
					color: gray;
				}


