.site-content {
	display: flex;
	width: 100%;
}

.content-area {
	width: 100%;

}

.site-content .widget-area {
	width: 33.33%;
}


// mobile layout

.entry-content {

	margin-top: 12%;
	border: 0;
}
