@media (max-width: 420px) {


// .site-header {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: space-between;
// 	width: 100%;
// 	margin: 0 auto;
// 	background-color: green;

// }
	.outerclass {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: auto;
		margin: 0 auto;
		background-color: #f3f9f8;;
	}
		#searchbar {
			width: 100%;
			height: auto;
			background-color: #f7f8f8;
			height: auto;
			display: flex; 
			justify-content: space-between;
			}
			#searchspace {
				margin: 0.1em 0.1em;
			}


			#carticons {
				display: flex;
				justify-content: space-between;
			}
				#carticons div {
					margin: 0.3em 0.3em;
				}



.rowcenterdiv {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	border: green;
}
#headerheight {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.column-between {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid yellow;
}

	
.space-around {
	width: 17%;
	margin: 0.2em 0 auto;
	height: auto;
	display: flex;
	justify-content: space-between;
}

	.site-title {
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;

	}
	.site-title a {
		text-decoration: none;
		color: #000;
		width: 100%;
		font-weight: bold;
		font-size: 1.2em;
		text-align: center;
		font-style: uppercase;	
	}
	
.site-description {
	width: 100%;
	height: auto;
	justify-content: center;
	display: flex;
	font-size: 0.7em;
}

}


// #section1, #section3 {
// 	flex: 1;
// }

// .site-content {
// 	display: flex;
// 	width: 100%;
// 	justify-content: flex-start;
// 	border: 1px solid green;
// }
